*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    font-family: "Poppins", sans-serif;
}

html:focus-within {
    scroll-behavior: smooth;
}

body {
    font-size: 100%;
    color: #232323;
    line-height: 1;
    background-color: #f8f8f8;
    -webkit-text-size-adjust: 100%;
}

header,
nav,
main,
aside,
section,
article,
footer {
    display: block;
}

ul,
ol {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    border: none;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
    hyphens: auto;
}

blockquote,
q {
    quotes: none;
}

p {
    font-family: inherit;
    letter-spacing: inherit;
}

li {
    margin-bottom: 0;
}

::-webkit-scrollbar {
    width: 8px;
    height: 12px;
}

::-webkit-scrollbar-track {
    background-color: #aaa;
}

::-webkit-scrollbar-thumb {
    background-color: #335ddc;
    border-radius: 8px;
}

.container {
    width: 1440px;
    margin: 0 auto;
}

.ant-drawer-body {
    padding: 0 !important;
}

.ant-drawer-content-wrapper {
    width: 250px !important;
}

.ant-layout-header {
    padding: 0 25px !important;
}

.ant-form-vertical .ant-form-item-label {
    padding: 0 0 3px;
}

.ant-form-item {
    margin-bottom: 7px;
}

.burger-menu {
    display: none;
}

.add-button {
    margin-bottom: 15px;
}

.select-add {
    margin-bottom: 15px;
}

.buttons {
    display: flex !important;
    align-items: center;
    justify-content: space-between;
}

.ant-space-align-center.profil-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px !important;
}

@media screen and (max-width: 1440px) {
    .container {
        width: 1020px;
    }
}

@media screen and (max-width: 1020px) {
    .container {
        width: 768px;
        padding: 0;
    }
}

@media screen and (max-width: 767px) {
    .container {
        width: 100%;
        padding: 0 5px;
    }

    .burger-menu {
        display: block;
    }

    .inline-navber {
        display: none !important;
    }

    .site-layout .container {
        justify-content: space-between;
    }

    .buttons {
        flex-wrap: wrap;
        justify-content: center;
    }

    .ant-space-align-center {
        justify-content: center;
        flex-wrap: wrap;
        gap: 0 !important;
    }

    .new-buttons {
        gap: 10px !important;
    }

    .tazalash {
        gap: 16px !important;
    }

    .add-button {
        margin-bottom: 8px;
    }

    .select-add {
        margin-bottom: 8px;
    }

    .ant-card-body {
        padding: 5px;
    }

    .ant-statistic-content {
        font-size: 16px !important;
    }

    .ant-table-tbody > tr > td {
        padding: 10px 5px;
    }

    .ant-statistic-title {
        font-size: 13px !important;
    }

    .statistic .ant-col-8 {
        padding: 0 1px !important;
    }

    .statistic .ant-col-12 {
        padding: 0 1px !important;
    }

    .ant-table-pagination-right {
        justify-content: center;
    }
}
